h2, h3 {
    font-family: var(--ess-font-title);
    color: var(--ess-blue-800);
}

hr {
    color: var(--ess-border);
}

form {
    background-color: var(--ess-text-100);
    padding: 1rem 1rem 5rem;
    border: 1px solid var(--ess-border);
    border-radius: 0.3rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

    .new_campaign {
        display: flex;
        flex-direction: column;
        border-radius: 0.3rem;
    }

    .new_attendee {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, auto));
        grid-template-rows: auto auto;
        gap: 1.5rem 2rem;
        border-radius: 0.3rem;
        margin-bottom: 2rem;
    }

    .fields {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fields_column:nth-child(2) > div:nth-child(2) { //IsCompanion
        margin-bottom: 5px;
    }

    input {
       border: 1px solid var(--ess-border); 
       border-radius: 0.3rem;
        margin-bottom: 1rem;
        width: 100%;

        &::placeholder { 
            font-family: var(--ess-font-ui);
            font-size: 0.8rem; 
        }
    }

    label { 
        font-family: var(--ess-font-ui); 
        font-size: 1rem; 
        font-weight: bolder; 
        color: var(--ess-blue-800); 
        margin-bottom: 0.5rem; 
    } 

    .new_attendee > button {
        justify-self: center;
        width: 60%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .action {
        display: flex;
        justify-content: space-evenly;
        margin-top: 3rem;
        margin-bottom: 1rem;    
    }
}