.json_payload {
    background-color: var(--ess-text-100);
    padding: 1rem 1rem 5rem;
    border: 1px solid var(--ess-border);
    border-radius: 0.3rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.json_code {
    background-color: var(--ess-bg-code);
}