label:has([role="switch"]) {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.4rem;
	cursor: pointer;
}

[role="switch"] {
	--switch-width: 3.4rem;
	--switch-height: 1.9rem;
	--thumb-size: 1.45rem;
	--padding: 0.18rem;

	appearance: none;
	-webkit-appearance: none;
	position: relative;
	display: inline-block;
	width: var(--switch-width);
	height: var(--switch-height);
	border-radius: 99em;
	background-color: var(--ess-border);
	cursor: pointer;
	transition: background-color 0.25s ease;
}

[role="switch"]::after {
	content: "";
	position: absolute;
	top: 50%;
	left: var(--padding);
	width: var(--thumb-size);
	height: var(--thumb-size);
	border-radius: 50%;
	background-color: var(--ess-text-100);
	transform: translateY(-50%);
	transition: transform 0.25s ease;
}

[role="switch"]:checked {
	background-color: var(--ess-blue-600);
}

[role="switch"]:checked::after {
	transform: translateY(-50%) translateX(
		calc(var(--switch-width) - var(--thumb-size) - (var(--padding) * 2))
	);
}

