.page {
  display: grid;
  grid-template-columns: 20vw auto;
  min-height: 100vh;
}

.content {
  display: grid;
  grid-template-rows: 100px auto 50px;
  min-height: 100vh;
}

body {
  color: var(--ess-text-900);
  background: var(--ess-bg-page);
  line-height: 1.45;
}

header {
  display: flex;
  align-items: center;
  border: 1px solid var(--ess-border);
  background-color: var(--ess-bg-navbar);
}

main {
  display: grid;
  grid-template-columns: 50% 45%;
  gap: 5%;
  padding: 1.5rem;
  background: var(--ess-bg-page);
}

main > :nth-child(2)  {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
}

footer {
  height: 50px;
  background: var(--ess-bg-navbar);
  border: 1px solid var(--ess-border);
  position: fixed;
  left: 20vw;
  bottom: 0;
  width: 100%;
}