:root {
  --ess-blue-900: #00255d;
  --ess-blue-800: #003087;
  --ess-blue-700: #1f4b9f;
  --ess-blue-600: #1F64B8;
  --ess-blue-500: #2F7BC8;

  --ess-text-900: #1a2436;
  --ess-text-800: #2C3240;
  --ess-text-700:  #5f6b7d;
  --ess-text-600: #6f7a89;
  --ess-text-100: #FFFFFF;

  --ess-success: #59A869;
  --ess-warning: #ce9f39;
  --ess-danger: #D35C58;

  --ess-bg-page: #f3f5f8;
  --ess-bg-navbar: #e6e8ebb3;
  --ess-bg-code: #2B3341;

  --ess-border: #D9E0E9;
  --ess-shadow-card: 0 4px 14px rgba(30, 41, 59, 0.8);

  --ess-radius-sm: 6px;
  --ess-radius-md: 8px;
  
  --ess-font-ui: "Barlow Condensed", Inter, "Segoe UI", Roboto, Arial, sans-serif;
  
  --ess-transition: 160ms ease;
}















  
